h1 {
	background-color: lightblue
}

main p {
	font-family: sans-serif;
	font-size: 25px
}

img {
	width: 350px;
	height: 350px;
	border: 5px solid green
}

footer p {
	color: white;
	background-color: black
}